<h1>Author detail PAGE</h1>
<br>

<h1>Name: {{name}}</h1>
<h1>Surname: {{surname}}</h1>
<hr>
<p>Nationality: {{nationality}}</p>
<p>Biography: {{bio}}</p>
<hr>
<br>
<a href="/authors/{{_id}}/edit">Edit this author</a>
<br>
<a href="/authors/{{_id}}/delete">DELETE this author</a>
<br>
<a href="/authors">Back to authors list</a>
